ASPNETCORE_ENVIRONMENT={{ maw_api__aspnet_env }}

MAW_API_Kestrel__Certificates__Default__Path={{ maw_api__pfx }}
MAW_API_Kestrel__Certificates__Default__Password={{ maw_api__pfx_pwd }}

MAW_API_DataProtection__Path={{ maw_api__dataprotection_dir_for_site }}

MAW_API_Environment__DbConnectionString=Server=127.0.0.1;Port=5432;Database=maw_website;Max Auto Prepare=100;User Id={{ maw_api__sql_username }};Password={{ maw_api__sql_password }}

MAW_API_FileUpload__RootDirectory={{ maw_api__upload_dir_for_site }}
