## ##################################################################
## https://raw.githubusercontent.com/ddclient/ddclient/develop/ddclient.conf.in
## ##################################################################
daemon=600                              # check every 300 seconds
syslog=no                               # log update msgs to syslog
#mail=root                              # mail all msgs to root
mail-failure=root                       # mail failed update msgs to root
pid=/var/run/ddclient/ddclient.pid      # record PID in file.
ssl=yes                                 # use ssl-support.  Works with ssl-library
use=web
web=ifconfig.me/ip
#verbose=yes

##
## NameCheap (namecheap.com)
##
protocol=namecheap
server=dynamicdns.park-your-domain.com
login=mikeandwan.us
password={{ ddclient_config.namecheap_password }}
www,@,api,auth,photos,files
