ASPNETCORE_ENVIRONMENT={{ maw_auth__aspnet_env }}
GOOGLE_APPLICATION_CREDENTIALS={{ maw_auth__google_email_creds_file }}

MAW_AUTH_Kestrel__Certificates__Default__Path={{ maw_auth__pfx_auth }}
MAW_AUTH_Kestrel__Certificates__Default__Password={{ maw_auth__pfx_pwd_auth }}

MAW_AUTH_DataProtection__Path={{ maw_auth__dataprotection_dir_for_site }}

MAW_AUTH_Environment__DbConnectionString=Server=127.0.0.1;Port=5432;Database=maw_website;Max Auto Prepare=100;User Id={{ maw_auth__sql_username }};Password={{ maw_auth__sql_password }}
MAW_AUTH_Environment__IdsrvDbConnectionString=Server=127.0.0.1;Port=5432;Database=idsrv;Max Auto Prepare=100;User Id={{ maw_auth__sql_username }};Password={{ maw_auth__sql_password }}
MAW_AUTH_Environment__WwwClientSecret={{ maw_auth__www_auth_client_secret }}

MAW_AUTH_GooglePlus__ClientId={{ maw_auth__google_plus_client_id }}
MAW_AUTH_GooglePlus__ClientSecret={{ maw_auth__google_plus_client_secret }}

MAW_AUTH_Twitter__ConsumerKey={{ maw_auth__twitter_client_id }}
MAW_AUTH_Twitter__ConsumerSecret={{ maw_auth__twitter_client_secret }}

MAW_AUTH_Microsoft__ApplicationId={{ maw_auth__microsoft_client_id }}
MAW_AUTH_Microsoft__Secret={{ maw_auth__microsoft_client_secret }}

MAW_AUTH_GitHub__ClientId={{ maw_auth__github_client_id }}
MAW_AUTH_GitHub__ClientSecret={{ maw_auth__github_client_secret }}

MAW_AUTH_SigningCertDir={{ maw_auth__pfx_signing | dirname }}
