[Unit]
Description=Renew Let's Encrypt certificates for mikeandwan.us

[Service]
Type=oneshot
ExecStart=podman run -it --rm --pull always --pod {{ certbot_ctx.pod_name }} --volume {{ certbot_ctx.validation_volume_name }}:/var/www/certbot:rw,z --volume {{ certbot_ctx.certs_volume_name }}:/etc/letsencrypt:rw,z docker.io/certbot/certbot:latest renew --agree-tos
