[Unit]
Description=Renew Let's Encrypt certificates for mikeandwan.us

[Service]
Type=oneshot
ExecStart=podman run -it --rm --pull always --pod {{ cb__pod }} --volume {{ cb__validation_volume }}:/var/www/certbot:rw,z --volume {{ cb__certs_volume }}:/etc/letsencrypt:rw,z {{ cb__container_image }} renew --agree-tos
