ASPNETCORE_ENVIRONMENT={% if mawus_config.env == 'prod' %}production{% else %}development{% endif %}

MAW_API_KestrelPfxFile={{ mawus_config.pfx_api }}

MAW_API_DataProtection__Path=/dataprotection

MAW_API_Environment__DbConnectionString=Server=127.0.0.1;Port=5432;Database=maw_website;Max Auto Prepare=100;User Id={{ mawus_config.sql_username }};Password={{ mawus_config.sql_password }}
MAW_API_Environment__RedisConnectionString=localhost,abortConnect=false

MAW_API_FileUpload__RootDirectory={{ mawus_config.upload_dir }}

MAW_API_Search__CoreUrl=http://localhost:8983/solr/multimedia-categories

MAW_API_UrlConfig__Api={{ mawus_config.url_api }}
MAW_API_UrlConfig__Auth={{ mawus_config.url_auth }}
MAW_API_UrlConfig__Www={{ mawus_config.url_www }}
MAW_API_UrlConfig__Photos={{ mawus_config.url_photos }}
MAW_API_UrlConfig__Files={{ mawus_config.url_files }}
