ASPNETCORE_ENVIRONMENT=production

MAW_WWW_KestrelPfxFile=/certs/internal/www/www.pfx

MAW_WWW_Environment__DbConnectionString=Server=127.0.0.1;Port=5432;Database=maw_website;Max Auto Prepare=100;User Id={{ mawus_config.sql_username }};Password={{ mawus_config.sql_password }}

MAW_WWW_AuthConfig__AuthorizationUrl=https://auth.mikeandwan.us
MAW_WWW_AuthConfig__ClientId={{ mawus_config.www_auth_client_id }}
MAW_WWW_AuthConfig__Secret={{ mawus_config.www_auth_client_secret }}

MAW_WWW_DataProtection__Path=/dataprotection

MAW_WWW_Gmail__ApplicationName=mikeandwan.us
MAW_WWW_Gmail__FromEmailAddress=webmaster@mikeandwan.us

MAW_WWW_GoogleRecaptcha__SiteKey={{ mawus_config.google_recaptcha_site_key }}
MAW_WWW_GoogleRecaptcha__SecretKey={{ mawus_config.google_recaptcha_secret_key }}

MAW_WWW_UrlConfig__Api=https://api.mikeandwan.us
MAW_WWW_UrlConfig__Auth=https://auth.mikeandwan.us
MAW_WWW_UrlConfig__Www=https://www.mikeandwan.us
MAW_WWW_UrlConfig__Files=https://files.mikeandwan.us
MAW_WWW_UrlConfig__Photos=https://photos.mikeandwan.us

GOOGLE_APPLICATION_CREDENTIALS=/google-creds/www_emailer.json

