ASPNETCORE_ENVIRONMENT={% if mawus_config.env == 'prod' %}production{% else %}development{% endif %}

MAW_AUTH_DataProtection__Path={% if mawus_config.env == 'dev' %}{{ mawus_config.dataprotection_dir }}{% else %}/dataprotection{% endif %}

MAW_AUTH_Environment__DbConnectionString=Server=127.0.0.1;Port=5432;Database=maw_website;Max Auto Prepare=100;User Id={{ mawus_config.sql_username }};Password={{ mawus_config.sql_password }}
MAW_AUTH_Environment__IdsrvDbConnectionString=Server=127.0.0.1;Port=5432;Database=idsrv;Max Auto Prepare=100;User Id={{ mawus_config.sql_username }};Password={{ mawus_config.sql_password }}
MAW_AUTH_Environment__AuthUrl={{ mawus_config.url_auth }}
MAW_AUTH_Environment__WwwUrl={{ mawus_config.url_www }}
MAW_AUTH_Environment__PhotosUrl={{ mawus_config.url_photos }}
MAW_AUTH_Environment__FilesUrl={{ mawus_config.url_files }}
MAW_AUTH_Environment__WwwClientSecret={{ mawus_config.www_auth_client_secret }}

MAW_AUTH_Gmail__ApplicationName=mikeandwan.us
MAW_AUTH_Gmail__FromEmailAddress=webmaster@mikeandwan.us

MAW_AUTH_GooglePlus__ClientId={{ mawus_config.google_plus_client_id }}
MAW_AUTH_GooglePlus__ClientSecret={{ mawus_config.google_plus_client_secret }}

MAW_AUTH_Twitter__ConsumerKey={{ mawus_config.twitter_client_id }}
MAW_AUTH_Twitter__ConsumerSecret={{ mawus_config.twitter_client_secret }}

MAW_AUTH_Microsoft__ApplicationId={{ mawus_config.microsoft_client_id }}
MAW_AUTH_Microsoft__Secret={{ mawus_config.microsoft_client_secret }}

MAW_AUTH_GitHub__ClientId={{ mawus_config.github_client_id }}
MAW_AUTH_GitHub__ClientSecret={{ mawus_config.github_client_secret }}

MAW_AUTH_KestrelPfxFile={{ mawus_config.pfx_auth }}
MAW_AUTH_SigningCertDir={{ mawus_config.pfx_signing | dirname }}

GOOGLE_APPLICATION_CREDENTIALS={{ mawus_config.google_email_creds_file }}
