# set the postgres password when initializing the container w/ blank db
POSTGRES_PASSWORD={{ mawus_config.sql_postgres_password }}

# set the pwd for use in client tooling
PGPASSWORD={{ mawus_config.sql_postgres_password }}
